<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <th:block th:fragment="style">
      <link
        th:rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.3.6/css/bootstrap.min.css}"
      />
      <link rel="stylesheet" th:href="@{/css/style.css}" />
    </th:block>
    <title>Document</title>
  </head>
  <body>
    <th:block th:fragment="bootstrapJs">
      <script
        th:src="@{/webjars/bootstrap/5.3.6/js/bootstrap.bundle.min.js}"
      ></script>
    </th:block>
  </body>
</html>
